[Desktop Entry]
Type=Application
Version=1.0
Name=Install Rayen OS
GenericName=System Installer
Comment=Install Rayen OS on this computer
Exec=sudo -E /usr/bin/rayen-calamares
Icon=/usr/share/rayen/logo.png
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
