set default=0
set timeout=10

insmod all_video
insmod gfxterm
insmod png
insmod iso9660

set gfxmode=1024x768
terminal_output gfxterm

set color_normal=white/black
set color_highlight=white/dark-blue

background_image /boot/grub/grub-bg.png

search --no-floppy --set=root --file /casper/filesystem.squashfs

# Exact kernel names for this build (regenerated at build time by build.sh)
set krn="/casper/vmlinuz-6.8.0-136-generic"
set krd="/casper/initrd.img-6.8.0-136-generic"

menuentry "Try Rayen OS" {
  linux	$krn boot=casper nomodeset
  initrd	$krd
}
menuentry "Try Rayen OS (safe graphics)" {
  linux	$krn boot=casper nomodeset quiet splash
  initrd	$krd
}
