# Avoid grub-pc debconf prompt during chroot package installation
grub-pc grub-pc/install_devices string
grub-pc grub-pc/install_devices_disks_changed multiselect
grub-pc grub-pc/install_devices_empty boolean true
